*, body, input, select {font-family: "Open Sans";}
img{
    max-width: 100%;
}

.intro-bg{
    background: url("https://images.unsplash.com/photo-1594997987903-1d322eae8ba8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80") no-repeat center center;
    background-size: cover;
    min-height: 500px;
    color: #fff;
    position: relative;
}

.intro-bg .content{
    position: absolute;
    z-index: 5;
    text-shadow: 0 0 2px #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.intro-bg::before{
    position: absolute;
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.intro-bg .socials a {
    color: #fff;
    font-size: 2.5em;
    padding: 10px;
    transition: all 0.5s linear;
}

.intro-bg .socials a:hover {
    columns: #f90;
    font-size: 2.5em;
    padding: 10px;
}
.intro-about-pic{
    text-align: center;
    padding: 25px;
    background-image: url("https://i.pinimg.com/originals/14/22/07/142207cfb41addee27b138fa7b7638d0.jpg");
    min-height: 300px;
    background-size: cover;
}
.intro-about-pic figure{}
.intro-about-pic figure img{
    display: block;
    width: 200px;
    margin: 0 auto 15px;
    border-radius: 100%;
    box-shadow: 0 0 15px #000;

}
.intro-about-pic figure figcaption{
    font-size: 1.5px;
    font-weight: 300;
    font-family: 'Montserrat';
}
.intro-about-text{
    background-image: url("https://i.pinimg.com/originals/14/22/07/142207cfb41addee27b138fa7b7638d0.jpg");
    min-height: 300px;
    background-size: cover;
    padding: 25px;
}
.intro-about-text h4{
    font-family: 'Montserrat';
    font-weight: 300;
    text-shadow: 0 0 1px #666;
    color: #0695c5;
}
.intro-about-text pre{
    line-height: 2;
    font-family: 'Montserrat';

}
.intro-about-text p{
    line-height: 2;
    font-family: 'Montserrat';

}
.bg-pi{
    background-color: #666;

}
.marquee{
    font-size: larger;
    color: #fff;

}
nav{
    background-color:#666;
}
nav ul{
    padding: 5px;
    display: flex;
    justify-content: center;
    list-style: none;
}
nav ul li{
    padding: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    font-family: Audiowide;
}
nav ul li:hover{
    background-color: #015d56;
    transition: 0.9s;
}
/* footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: #fff;

} */
footer {
 bottom: 0;
 color:#fff;
 height: 2em;
 left: 0;
 position: fixed; /* OldProperty */
 position: static;/* Updated Property */
 font-size: small;
 width:100%;
}

.main-content{
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
}
.main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;

}
.box h2{
    font-size: 1.125rem;
    color: #0695c5;
    font-weight: 600;
    text-transform: uppercase;
}
.box .content{
    margin: 20px 0 0 0;
}
.left .content p{
    text-align: justify;
    color: #fff;
}
.left .content .social{
    margin: 20px 0 0 0;
}
.left .content .social a{
    padding: 0 2px;
}
.left .content .social a span{
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
}
.left .content .social a span:hover{
    background: #f12020;

}
@media only screen and (max-width:767px){
    nav ul{
        height: 330px;
        flex-direction: column;
        text-align: center;
    }
}
@media sceeen and (max-width:767px)
{
    .intro-about-pic figure img{
        margin-bottom: 0;
    }
    .intro-about-pic figure figcaption{
        display: none;
    }
}

@media only screen and (max-width:767px){
    nav div ul{
        height: 450px;
        flex-direction: column;
        text-align: center;
    }
}

@media only screen and (max-width:767px){
   .main-content{
       display: none;
       
   }
}
